[Unit]
Description=run on startup
After=rc-local.service

[Service]
Type=oneshot
ExecStart=/home/maui/repos/UAV-gstreamer-jetson/scripts/usbfs-1000.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
